@import "../../../styles/base.scss";

.top-nav {
  height: 70px;
  border-bottom: 2px solid $lighterGray;
}

.brand-header {
  margin-left: 2rem;
  font-weight: 500;
  font-family: $code;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  user-select: none;
  color: $black;
}

.brand-header-sub {
  font-size: 0.5rem;
}

.nav-top-item {
  font-size: 12px;
  margin-right: 1rem;
  color: $darkGray;
  text-align: left;
  line-height: 0.5rem;

  &:hover {
    transform: scale(1.15);
  }
}
